form{
    margin:0 auto;
    padding:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    width:100%;
    padding:4px;
    margin:2px;
    
}
input[type="radio"]{
    width:100px;
padding:10px;
}
input[type="file"]{
    width:250px;
    padding:10px;
}
select{
    width:150px;
}
 input[type="checkbox"]{
    width:50px;
    
 }
 button{
    color:white;
    background-color: blue;
padding: 10px 5px;
 }
 button[type="clear"]{
    color: white;
    background-color: rgb(235, 101, 215);
 }
 h4{
    text-align: center;
 }
 h1{
    text-align: center;
    color:red;
 }

