 .calc-box {
    max-width: 400px;
    margin: 0 auto;
}

input {
    margin-bottom: 10px;
}

[type="button"] {
    background-color: black;
    border: 0;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
}